.sidebar {
  position: absolute;
  width: 244px;
  height: 100%;
  background-color: #E0E0E0;
  box-shadow: -2px -2px 14px 1px white;
  box-shadow: 3px 3px 8px 0px #747374;
  box-shadow: 3px 3px 15px 0px #bebebe;
}