:root {
  --tesc-blue: #11426b;
  --light-gray: #e0e0e0;
  --inactive: #747374;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inset {
  background-color: var(--light-gray);
  box-shadow: 
  inset 1px 1px 16px -13px #1e1e1e,
  inset 2px 2px 5px 0px #bebebe,
  inset -3px -3px 5px 0px #fff;
}

button, .outset {
  background-color: var(--light-gray);
  box-shadow: 
  -2px -2px 14px 4px white,
  3px 3px 8px 0px #747374,
  3px 3px 15px 0px #bebebe;
  border: none;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 244px;
  grid-template-rows: 60px;
}

.main-content {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 50px;
}

.content-title {
  font-family: "Lato-Regular";
}

@font-face {
  font-family: "Lato-Regular";
  src: local('Lato-Regular'), url('./assets/fonts/Lato-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Lato";
  src: local('Lato-Bold'), url('./assets/fonts/Lato-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Lato-Thin";
  src: local('Lato-Thin'), url('./assets/fonts/Lato-Thin.ttf') format("truetype");
}

@font-face {
  font-family: "Lato-Light";
  src: local('Lato-Light'), url('./assets/fonts/Lato-Light.ttf') format("truetype");
}